.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;          
  }
  
  .login-title {
    text-align: center;
    font-size: 32px;
    color: #333;
    margin-bottom: 30px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Increase the width as desired */
    margin: 0 auto; /* Center the card horizontally */
  }


  .input-label {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .login-form input {
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #555;
  }
  
  .remember-me input {
    margin-right: 10px;
    margin-bottom: 0;
  }
  
  .forgot-password {
    text-align: right;
    margin-bottom: 20px;
  }
  
  .forgot-password a {
    color: #888;
    text-decoration: none;
    font-size: 14px;
  }
  
  .login-button,
  .create-account-button {
    align-self: center;
    height: 40px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
  }
  
  .login-button {
    background-color: #2196f3;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .login-button:hover {
    background-color: #ff4500;
  }
  
  .login-button:focus {
    outline: none;
  }
  
  .create-account-button {
    background-color: #fff;
    color: gray;
  }
  
  .create-account-button:hover {
    background-color: #0d8bf5;
  }
  